#NavBar{
    /* margin-bottom: 1%; */
    display: flex;
    flex:1;
    align-content: flex-end;
    justify-content: flex-end;
}
#TopBar{
    margin-top: 1%;
    display: flex;
    flex-direction: row;

}
#Title{
    flex: 1;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
}